/* Write your CSS here */
.match-card-container {
  background-color: #0f172a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  margin: 12px;
  width: 160px;
  padding: 16px;
}

@media (min-width: 768px) {
  .match-card-container {
    padding: 32px;
    width: 264px;
  }
}
.team-logo {
  width: 45px;
  height: 45px;
}
@media (min-width: 768px) {
  .team-logo {
    width: 64px;
    height: 64px;
  }
}
.competing-team {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-weight: 500;
  text-align: center;
  font-size: 20px;
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .competing-team {
    font-size: 24px;
  }
}
.result {
  font-family: 'Bree Serif';
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
}
@media (min-width: 768px) {
  .result {
    font-size: 18px;
  }
}
.Won {
  color: #18ed66;
  font-family: 'Bree Serif';
  font-size: 16px;
}
.Lost {
  color: #e31a1a;
  font-family: 'Bree Serif';
  font-size: 16px;
}
