/* Write your CSS here */
.home-container {
  min-height: 100vh;
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .home-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  }
}

.responsive-container {
  width: 80%;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .responsive-container {
    width: 75%;
  }
}

.list-item-container {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.ipl-logo {
  height: 32px;
  width: 32px;
  margin-right: 12px;
}
@media screen and (min-width: 768px) {
  .ipl-logo {
    height: 44px;
    width: 44px;
  }
}
.dashboard-heading {
  font-family: 'Bree Serif';
  font-size: 32px;
  font-weight: bold;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .dashboard-heading {
    font-size: 44px;
  }
}
.ipl-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}
@media (min-width: 768px) {
  .ipl-logo-container {
    margin-top: 64px;
  }
}
